@if (Request.IsAuthenticated)
{
    <ul class="login-register">
        <li class="shopping-cart"><a href="@Url.Action("View", "Cart")"><i class="fa fa-shopping-cart"></i>My Cart</a>
            @*            <div class="shopping-cart-box">
                <ul class="shopping-cart-items">
                    <li>
                        <a href="product-shop-sidebar.html">
                            <img src="img/70x70.png" alt="Image Alternative text" title="AMaze">
                            <h5>New Glass Collection</h5>
                            <span class="shopping-cart-item-price">$150</span>
                        </a>
                    </li>
                </ul>
                <ul class="list-inline text-center">
                    <li><a href="@Url.Action("View", "Cart")"><i class="fa fa-shopping-cart"></i>View Cart</a>
                    </li>
                    <li><a href="@Url.Action("CheckOut", "Order")"><i class="fa fa-check-square"></i>Checkout</a>
                    </li>
                </ul>
            </div>*@
        </li>
        <li><a href="@Url.Action("Manage", "Account")"><i class="fa fa-user"></i>Hi, @User.Identity.Name</a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log Out</a>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
        </li>
    </ul>
}
else
{
    <ul class="login-register">
        @*        <li class="shopping-cart shopping-cart-white"><a href="page-cart.html"><i class="fa fa-shopping-cart"></i>My Cart</a>
            <div class="shopping-cart-box">
                <ul class="shopping-cart-items">
                    <li>
                        <a href="product-shop-sidebar.html">
                            <img src="/Content/img/70x70.png" alt="Image Alternative text" title="AMaze">
                            <h5>New Glass Collection</h5>
                            <span class="shopping-cart-item-price">$150</span>
                        </a>
                    </li>
                    <li>
                        <a href="product-shop-sidebar.html">
                            <img src="/Content/img/70x70.png" alt="Image Alternative text" title="Gamer Chick">
                            <h5>Playstation Accessories</h5>
                            <span class="shopping-cart-item-price">$170</span>
                        </a>
                    </li>
                </ul>
                <ul class="list-inline text-center">
                    <li><a href="page-cart.html"><i class="fa fa-shopping-cart"></i>View Cart</a>
                    </li>
                    <li><a href="page-checkout.html"><i class="fa fa-check-square"></i>Checkout</a>
                    </li>
                </ul>
            </div>
        </li>*@
        <li><a class="popup-text" href="#login-dialog" data-effect="mfp-move-from-top"><i class="fa fa-sign-in"></i>Sign in</a>
        </li>
        <li><a class="popup-text" href="#register-dialog" data-effect="mfp-move-from-top"><i class="fa fa-edit"></i>Sign up</a>
        </li>
    </ul>
}


<!-- LOGIN REGISTER LINKS CONTENT -->
<div id="login-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="fa fa-sign-in dialog-icon"></i>
    <h3>Member Login</h3>
    <h5>Welcome back, friend. Login to get started</h5>
    <form class="login-form" method="post" action="@Url.Action("Login", "Account")">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" name="UserName" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="Password" placeholder="My secret password" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="RememberMe">Remember me

            </label>
        </div>
        <input type="submit" value="Sign in" class="btn btn-primary">
    </form>

    <section>
        <ul class="dialog-alt-links">
            <li><a class="popup-text" href="#register-dialog" data-effect="mfp-zoom-out">Not member yet</a>
            </li>
            <li><a class="popup-text" href="#password-recover-dialog" data-effect="mfp-zoom-out">Forgot password</a>
            </li>
        </ul>
    </section>
    <p>
        &nbsp;
    </p>
    <section class="social" id="socialLoginForm">

        @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>

   <p>
        &nbsp;
    </p>
</div>


<div id="register-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="fa fa-edit dialog-icon"></i>
    <h3>Member Register</h3>
    <h5>Ready to get best offers? Let's get started!</h5>
    <form class="register-form" method="post" action="@Url.Action("Register", "Account")">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>E-mail</label>
            <input name="UserName" type="text" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="Password" type="password" placeholder="My secret password" class="form-control">
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            <input name="ConfirmPassword" type="password" placeholder="Type your password again" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">Get hot offers via e-mail
                   
            </label>
        </div>
        <input type="submit" value="Sign up" class="btn btn-primary">
    </form>
    <ul class="dialog-alt-links">
        <li><a class="popup-text" href="#login-dialog" data-effect="mfp-zoom-out">Already member</a>
        </li>
    </ul>
</div>


<div id="password-recover-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="icon-retweet dialog-icon"></i>
    <h3>Password Recovery</h3>
    <h5>Fortgot your password? Don't worry we can deal with it</h5>
    <form class="dialog-form">
        <label>E-mail</label>
        <input type="text" placeholder="email@domain.com" class="span12">
        <input type="submit" value="Request new password" class="btn btn-primary">
    </form>
</div>
<!-- END LOGIN REGISTER LINKS CONTENT -->




@*@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@