@using System.Configuration
@using DealsWhat.Helpers
@model DealsWhat.ViewModels.DealSpecificProductViewModel

<div class="gap-medium"></div>
<div id="purchase-dialog" style="max-width: 600px" class="mfp-with-anim mfp-dialog clearfix mfp-hide">
    <h3 style="margin-bottom: 0px">Choose your deal</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th width="100%"></th>
            </tr>
        </thead>
        <tbody id="deal-options-table-body"></tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-9">

        <div class="fotorama" data-auto="false" data-nav="thumbs" data-allowfullscreen="1" data-width="100%" data-thumbheight="100" data-thumbwidth="100">
            @*@foreach (var url in Model.ImageUrls)
                {
                    <img src="@Url.Content(PathHelper.ConvertRelativeToAbsoluteDealImagePath(url))" />
                }*@
        </div>
        <div class="gap gap-small"></div>
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#tab-1" data-toggle="tab"><i class="fa fa-tag"></i>The Deal</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    <div class="row text-smaller">
                        <div class="col-md-6">
                            <h4>Highlight</h4>
                            <div id="deal-highlight"></div>
                            @*@Html.Raw(@Model.Highlight)*@
                        </div>
                        <div class="col-md-6">
                            <h4>Fine Print</h4>
                            @*@Html.Raw(Model.Fineprint)*@
                            <div id="deal-fineprint"></div>
                        </div>
                    </div>
                    <div class="gap-small"></div>
                    <div class="row text-smaller">
                        <div class="col-md-12">
                            <h4>Description</h4>
                            @*@Html.Raw(@Model.LongDescription)*@
                            <div id="deal-long-description"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
    </div>
    <div class="col-md-3">
        <div class="product-page-meta box sidebar-box">
            <h4 id="deal-long-title"></h4>
            <p>@*@Model.ShortDescription*@<div id="deal-short-description"></div></p>
            <a class="popup-text btn btn-primary btn-lg btn-block" href="#purchase-dialog" data-effect="mfp-move-from-top"><span id="deal-special-price"></span> @*@Model.DiscountedPrice.ToString("0.00")*@ Buy Now</a>

            <ul class="list product-page-meta-info">
                <li>
                    <ul class="list product-page-meta-price-list">
                        <li>
                            <span class="product-page-meta-title">List Price</span><span class="product-page-meta-price"><span id="deal-regular-price"></span> @*@Model.OriginalPrice.ToString("0.00")*@</span>
                        </li>
                        <li>
                            <span class="product-page-meta-title">Discount</span><span class="product-page-meta-price"><span id="deal-discount-percentage"></span></span>
                        </li>
                        <li>
                            <span class="product-page-meta-title">Savings</span><span class="product-page-meta-price"><span id="deal-total-savings"></span></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="product-page-meta-title">Time Left to Buy</span>
                    <!-- COUNTDOWN -->
                    <div id="deal-time-left">

                    </div>

                </li>
                <li>
                    <span class="product-page-meta-title">0 bought</span>
                </li>
            </ul>
        </div>
        @Html.Partial("_Sidebar", Model.PopularDeals)
    </div>
</div>
@section styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <style>
        .deal-option-price-header {
        }

        .deal-option-original-price {
            text-decoration: line-through;
            white-space: nowrap;
            margin-right: 5px;
            color: grey;
        }

        .deal-option-special-price {
            white-space: nowrap;
            font-size: 17px;
            text-align: center;
            font-weight: 600;
        }
    </style>

}

@section scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYaq2aZgiq0kOG8Fz5--d91Z321qzcNW4"></script>
    <script src="~/Content/js/moment.js"></script>
    <script src="~/Content/js/underscore-min.js"></script>
    <script>
        var baseUrl = '@ConfigurationManager.AppSettings["WebserviceBaseUrl"]';

        $('#deal-options-table-body').on('click', '.purchase-deal-option-button', function () {

            var form = $(this).closest('form');
            var selects = form.find('select');
            var dealOptionId = form.find('input[name=DealOptionId]').val();

            var selectedDealOption = {};
            selectedDealOption.DealOptionId = dealOptionId;
            selectedDealOption.DealId = "@Model.Id";

            var selectedAttributes = [];

            $.each(selects, function (index, value) {
                var selectedName = $(value).attr('name');
                var selectedValue = $(value).val();

                var attribute = {};
               // attribute.Name = selectedName;
                //attribute.Value = selectedValue;

                //selectedAttributes.push(attribute);

                selectedAttributes.push(selectedValue);
            });

            selectedDealOption.SelectedAttributes = selectedAttributes;

            $.ajax({
                url: baseUrl + "api/cart/",
                data: selectedDealOption,
                method: 'post',
                dataType: 'json',
                cache: false,
                success: function (deal) {
                },
                complete: function () {
                }
            });
        });

        $(document).ready(function () {
            loadDealInformation();
            $('.deal-attribute-list').select2({
                minimumResultsForSearch: Infinity
            });
        });

        function loadDealTimeLeft(deal) {
            var dateStarted = deal.StartTime;
            var dateEnded = deal.EndTime;

            console.log(dateStarted);
            console.log(dateEnded);

            var element = $('#deal-time-left');
            if (dateStarted > dateEnded) {
                handleDealEnded(element);
            } else {
                handleDealNotEnded(deal, element);
            }
        }

        function handleDealEnded(element) {
            var temp = $('<strong class="text-color">Sorry. The Deal Has Ended.</strong>');

            element.append(temp);
        }

        function handleDealNotEnded(deal, element) {

            var endTime = moment(deal.EndTime, 'M/d/yyyy hh:mm:ss tt');
            var temp = $('<div id="deal-countdown" data-countdown="' + endTime + '" class="countdown countdown-inline"></div>');

            element.append(temp);

            $('#deal-countdown').countdown({
                unixFormat: true
            });
        }

        function loadDealInformation() {
            $.ajax({
                url: baseUrl + "api/deal?id=ee97f6c8-c95a-4d0c-b32b-0021c3315478",
                dataType: 'json',
                cache: false,
                success: function (deal) {

                    $('#deal-highlight').html(deal.Highlight);
                    $('#deal-fineprint').html(deal.Fineprint);
                    $('#deal-long-description').html(deal.LongDescription);
                    $('#deal-long-title').html(deal.LongTitle);
                    $('#deal-short-description').html(deal.ShortDescription);
                    $('#deal-short-title').html(deal.ShortTitle);

                    $('#deal-regular-price').html("RM " + deal.RegularPrice.toFixed(2));
                    $('#deal-special-price').html("RM " + deal.SpecialPrice.toFixed(2));

                    var totalSavings = deal.RegularPrice - deal.SpecialPrice;
                    var percentage = (totalSavings * 100 / deal.RegularPrice).toFixed(0);

                    $('#deal-total-savings').html("RM " + totalSavings.toFixed(2));
                    $('#deal-discount-percentage').html(percentage + "%");

                    var imageData = [];
                    $.each(deal.ImageUrls, function (index, img) {
                        var data = {};
                        data.img = img;

                        imageData.push(data);
                    });

                    $('.fotorama').fotorama({
                        data: imageData
                    });

                    loadDealTimeLeft(deal);

                    var tbody = $('#deal-options-table-body');
                    $.each(deal.DealOptions, function (index, option) {

                        buildDealOptionDom(option, tbody);
                    });
                },
                complete: function () {
                }
            });
        }

        function buildDealOptionDom(dealOption, element) {
            var attr = dealOption.DealAttributes;
            var attrNames = [];

            var groupedAttr = _.groupBy(attr, function (attr) {
                var attrName = attr.Name;

                if (attrNames.indexOf(attrName) == -1) {
                    attrNames.push(attrName);
                }

                return attrName;
            });

            var table = '<table width="100%">';
            $.each(attrNames, function (i, attrName) {
                table += buildDealAttributesDom(attrName, groupedAttr[attrName]);
            });

            table += '</table>';

            var dom = '<tr><td><form method="post" action=""><h4>' + dealOption.ShortTitle + '</h4>';

            dom += table;

            var percentage = ((dealOption.RegularPrice - dealOption.SpecialPrice) * 100 / dealOption.RegularPrice).toFixed(0) + "%";

            dom += ' <table width="100%" style="margin-top: 10px; table-layout: fixed; text-align: center">' +
                '<tr><td>Price</td><td>Savings</td></tr>' +
                '<tr><td><span class="deal-option-original-price">RM ' + dealOption.RegularPrice.toFixed(2) + '</span><span class="deal-option-special-price">RM ' + dealOption.SpecialPrice.toFixed(2) + '</span></td>' +
                '<td><span class="deal-option-special-price">' + percentage + '</span></td>' +
                '<td><form><input type="hidden" name="DealOptionId" value="' + dealOption.Id + '" /><input type="button" style="width: 100%" class="purchase-deal-option-button btn btn-primary" value="Buy"></form>' +
                '</td></tr></table>';

            element.append($(dom));
        }

        function buildDealAttributesDom(attributeKey, attributeValues) {
            var dom = '<tr><td>' + attributeKey + '</td><td>' +
                '<select style="width: 100%" name="' + attributeKey + '" class="deal-attribute-list">';

            $.each(attributeValues, function (index, attr) {
                var id = attr.Id;
                var value = attr.Value;
                dom += '<option value="' + id + '">' + value + '</option>';
            });

            dom += '</select></td></tr>';

            return dom;
        }
    </script>
}