@model DealsWhat.ViewModels.PopularDealsViewModel

@*<aside class="sidebar-right">*@
@*<div class="sidebar-box">
    <h5>Recent Viewed</h5>
    <ul class="thumb-list">
        <li>
            <a href="#">
                <img src="~/Content/img/deals/15.jpg" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
            </a>
            <div class="thumb-list-item-caption">
                <h5 class="thumb-list-item-title"><a href="#">Best Camera</a></h5>
                <p class="thumb-list-item-price">$190</p>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/deals/17.jpg" alt="Image Alternative text" title="AMaze" />
            </a>
            <div class="thumb-list-item-caption">
                <h5 class="thumb-list-item-title"><a href="#">New Glass Collection</a></h5>
                <p class="thumb-list-item-price">$262</p>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/deals/16.jpg" alt="Image Alternative text" title="waipio valley" />
            </a>
            <div class="thumb-list-item-caption">
                <h5 class="thumb-list-item-title"><a href="#">Awesome Vacation</a></h5>
                <p class="thumb-list-item-price">$192</p>
            </div>
        </li>
    </ul>
</div>*@
<div class="sidebar-box">
    <h5>Suggested For You</h5>
    <ul class="thumb-list">
        @foreach (var deal in Model.Deals)
        {
            
            <li>
                <div class="row product-thumb">
                    <div class="col-md-4">
                        <a href="@deal.CanonicalUrl">
                            <img src="@deal.Thumbnails.First()" alt="Image Alternative text"/>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="@deal.CanonicalUrl"><h5 class="product-title">@deal.ShortTitle</h5></a>
                        <p class="product-price">RM @deal.SpecialPrice</p>
                    </div>
                </div>
            </li>

        }
    </ul>
</div>
@*</aside>*@
